*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
button{
  font-family: 'Poppins', sans-serif;
}
header{
    display: flex;  /*brings content in one line */
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,.nav-links,.github{
   display: flex;

}

.logo-container{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  
  margin: 5px;
  flex: 1; /*takes up all the space*/
}

nav{
  
  flex: 2;

}
.nav-links{
  justify-content: space-around; /*sets equal space around content*/
  list-style: none; /*removes dots in lists*/
  
  


}
.nav-link{
  color: #404040;
  text-decoration: none; /*removes underline in links*/
}
.github{
    justify-content: flex-end; /*moves content to the right end*/
    flex: 1;
    
}

.github-logo{
  
  text-decoration: none;
  
}

.github img{
  height: 5vh;
}

.content{
   display: flex;
   height: 700px;
   width:90%;
   margin: auto;
   min-height: 80vh;
   align-items: center;
}
.introduction{
  
  flex: 1;
}
.intro-text h1{
  font-size: 45px;
}
.cta{
  padding: 50px 0px 0px 0px;
}
.sign-up{
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #945EFD;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  
  
}
.sign-in{
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #945EFD;
  color: #945EFD;
  background: transparent;
  margin: 0px 0px 0px 20px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  
}
.intro-text p{
  margin-top: 5px;
  color: #404040;
  font-size: 25px;
}
.cover{
  flex: 1;

}

.cover img{
  position: absolute;
  height: 65vh;
  top: 125px;
  z-index: 1;
  animation: drop 1.5s ease;
  max-width: 100%;
  
  
  
}

.circle{
  position: absolute;
  height: 95vh;
  top: -95px;
  bottom: 50px;
  right: -120px;
  z-index: -2;
  


}


.about-us{
  padding-top: 200px;
  height: 700px;
  width: 100%;
  background-image: url(./img/chairs.jpg);
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}
.about-us h1{
  font-size: 65px;
}

.about-us p{
  font-size: 23px;
  margin: 75px 70px 0px 70px;
}

.contact-us{
  padding-top: 100px;
  height: 700px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.contact-us h1{
  color: #945EFD;
  font-size: 65px;
}
.container{
  position: relative;
  
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
  max-width: 850px;
  border-radius: 15px;
  
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  border-radius: 15px;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
  transition: .3s;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;

}


.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #945EFD;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
  transition: .3s;
  border-radius: 10px;
}

.btn:hover{
    background-color:#7937ff;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 480px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}


@keyframes drop{

  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 900px){
  .content{
    flex-direction: column;

  }
  .introduction{
    margin-top: 25vh;
    text-align: center;
  }
  .intro-text h1{
    font-size: 30px;
    color: white;
  }

  .intro-text p{
    font-size: 18px;
    color: white;
  }

  .cta{
    padding: 10px 0px 0px 0px;
  }
  .sign-up{
    background-color: white;
  color: #945EFD;

  }
  .sign-in{
    border: 2px solid white;
    color: white;
  }

  .circle{
    height: 110vh;
    
    

  }
  .cover img{
    height: 45vh;
    top: 500px;
    right: 18%;
  }
  .nav-link{
    color: white;
  }
  
  .github img{
    -webkit-filter: invert(100%);
  }
  .container{
    top: 100px;
  }
}